body {
    margin: 0;
}

.container {
    background-color: rgb(77, 31, 100);
    padding: 1rem;
    margin-top: 1rem;
}

.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}